# User-specific files
*.mdb
*.ldb
*.suo
*.user
*.sln.docstates
# Build results

[Dd]ebug/
[Rr]elease/
build/
dist/
[Bb]in/
[Oo]bj/

**/Debug/
**/Release/

written_rec/t10k-images.idx3-ubyte 
written_rec/t10k-labels.idx1-ubyte
written_rec/train-images.idx3-ubyte
written_rec/train-labels.idx1-ubyte
written_rec/cv_mnist.xml
written_rec/mnist_svm.xml

